/* ************************* */


/* Gold Gym CSS */


/* ************************* */

// import the utility css and bootstrap
@import 'asset/css/utility.scss';
@import 'vendor/bootstrap';
@import 'vendor/font-awesome/font-awesome';
// set the colors
$color-1: #f1eb30; // yellow
$color-2: #282828; //dark-grey
$color-3: #e16e2c; //orange
// set the banner and the footer bg to black
#goldgym .page-banner,
#goldgym .page-footer {
    background-color: #000;
}

// set the content to dark-grey
#goldgym .page-content {
    background-color: $color-2;
    .container > div {
        max-width: 992px; // set the maximum width of the container inside it
        margin: 0 auto; // and center it
    }
}

#goldgym form {
    label {
        color: #fff; //set the label color text to white
    }
    // change the styling for the submit button
    button[type="submit"] {
        width: 100%;
        background-color: $color-3;
        border-color: $color-3;
        color: #fff;
        font-weight: 700;
    }
    @media (max-width: 768px) {
        .training > div:nth-child(2) label,
        .payment > div:nth-child(2) label {
            padding-left: 30px;
            padding-right: 30px;
        }
    }
}

#goldgym .rules {
    color: #fff;
}

#goldgym .page-footer {
    .arrow {
        text-align: center;
        color: #fff;
        margin-top: -44px;
        cursor: pointer;
        -webkit-transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
        .fa {
            border: 6px solid #000;
            padding: 10px;
            border-radius: 50%;
            background-color: #000;
        }
    }
}

.upward {
    transform: rotate(180deg);
}
.downward {
    transform: rotate(0deg);
}
